*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
nav{
    background-color: darkred;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 20px;
    color: burlywood;
}
a {
    color: burlywood;
    text-decoration: none;
}
a:hover{
    color:chartreuse;
    text-decoration: underline;
}
 nav #span{
   
    width: 300px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
body{
    
   background-color: burlywood;
}
h1{
    color:black;
}
#main{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   

    
}
#allTasks{
   background-color: orange;
    padding-bottom: 20px;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    
}
#completed{
    background-color: green;
    color: white;
    padding-bottom: 20px;
    margin-right: 20px;
    
}
#uncompleted{
    background-color: red;
    color: white;
    padding-bottom: 20px;
    margin-right: 20px;
}